/* PRE LOADER */

.loader_bg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loader_bg {
  position: fixed;
  z-index: 999999;
  background: #fff;
  width: 100%;
  height: 100%;
}

.loader {
  border: 0 solid transparent;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  position: absolute;
  top: calc(50vh - 75px);
  left: calc(50vw - 75px);
}

.loader:before,
.loader:after {
  content: "";
  border: 10px solid #141414;
  border-radius: 50%;
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  animation: loader 2s linear infinite;
  opacity: 0;
}

.loader:before {
  animation-delay: 0.5s;
}

@keyframes loader {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

/* E-COMMERCE */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "League Spartan";
}

#header a {
  text-decoration: none;
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 35px;
  background-color: #f7f7f7;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li {
  position: relative;
  list-style: none;
  padding: 0 20px;
}

#navbar li a {
  text-decoration: none;
  font-size: 15px;
  color: #1a1a1a;
  letter-spacing: 1px;
  font-family: "Poppins";
}

#navbar li i {
  color: #1a1a1a;
  font-weight: 600;
}

#navbar li a:hover {
  font-weight: 600;
}

#navbar li a:hover,
#navbar li a.active {
  color: #1a1a1a;
  font-weight: 600;
}

#navbar li a.active::after,
#navbar li a:hover::after {
  content: "";
  width: 30%;
  height: 2.5px;
  background-color: #1a1a1a;
  position: absolute;
  bottom: -3px;
  left: 21px;
}

.tittle {
  font-family: "Poppins";
  color: #000;
}

.tittle:hover {
  cursor: pointer;
}

.contenedorLogin {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px 150px 250px 150px;
}

.cajaLogin {
  border: none;
  border-radius: 10px;
  background-color: #1a1a1a;
  padding: 40px 80px 100px 80px;
  color: #fff;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 1);
}

.cajaLogin h2 {
  text-align: center;
}

.cajaLogin p {
  padding-top: 40px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1.5px;
  text-align: center;
}

.formLogin {
  padding: 20px;
}

.formLogin input {
  padding: 10px;
  border: none;
  border-radius: 25px;
  width: 250px;
}

.input-group {
  padding: 15px;
}

.formLogin button {
  margin-top: 25px;
  padding: 10px;
  width: 55%;
  color: #fff;
  background-color: #3f71ea;
  border: none;
  border-radius: 25px;
  font-weight: 600;
  font-size: 12px;
  transition: all 0.3s ease;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.formLogin button:hover {
  cursor: pointer;
}

.formLogin button:active {
  transform: scale(0.8);
}

.footer-distributed {
  background-color: #1a1a1a;
  box-sizing: border-box;
  text-align: left;
  padding: 50px 50px 60px 50px;
}

.footer-distributed .footer-izq,
.footer-distributed .footer-center,
.footer-distributed .footer-derecha {
  display: inline-block;
  vertical-align: top;
}

.footer-distributed .footer-izq {
  width: 30%;
}

.footer-distributed h3 {
  color: #fff;
  font: normal 36px;
  margin: 0;
}

.footer-distributed .footer-links {
  color: #fff;
  margin: 20px 0 12px;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  padding: 0 5px;
}

.footer-distributed .footer-empresa {
  color: #9b9b9b;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-center {
  width: 35%;
}

.footer-distributed .footer-center i {
  color: #fff;
  font-size: 22px;
  width: 38px;
  height: 38px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #fff;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p a {
  text-align: none;
  color: #fff;
}

.footer-distributed .footer-derecha {
  width: 30%;
}

.footer-distributed .acerca-empresa {
  line-height: 20px;
  color: #fff;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-derecha h4 {
  color: #fff;
}

.footer-distributed .footer-iconos {
  margin-top: 10px;
}

.footer-distributed .footer-iconos a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #555555;
  border-radius: 2px;
  font-size: 20px;
  color: #fff;
  text-align: center;
  line-height: 40px;
  margin-right: 3px;
  margin-bottom: 5px;
}

.footer-distributed .footer-iconos a:hover {
  background-color: #3f71ea;
}

.footer-links a:hover {
  color: #3f71ea;
}
